<h1>All Questions</h1>

<div>
  <table>
    <%@questions.each do |question|%>
      <tr>
        <td>
          <a href="/questions/<%=question.id%>"><%=question.title%></a>
          <form action='/questions/<%=question.id%>' method='post'>
            <input type='hidden' name='_method' value='delete'>
            <input type='submit' value='Delete Question'>
          </form>
        </td>
      <tr>
    <%end%>
  </table>
</div>
