<div class="container">
  <div class="main-content">
    <h1>All Questions</h1>
      <div id="question-post">
        <%= erb :'/questions/_new.html' %>
      </div>
      <div class="stats">
      </div>
      <% @questions.each do |question| %>
        <%= erb :'/questions/_question_index_list_item.html', locals: {question: question } %>
      <%end%>
    </div>
  </div>
</div>
