<h1>Create Question</h1>

<div>
  <table>
      <form action='/questions' method='post'>
        <tr>
          <td>
            <label for='title'>Title</label>
            <input type='text' name='entry[title]'>
          </td>
        </tr>
        <tr>
          <td>
            <label for='content'>Content</label>
            <input type='text' name='entry[content]'>
            <input type="hidden" name="entry[user_id]" value="<%=session[:user_id]%>">
            <input type='submit' value='Submit'>
          </td>
        </tr>
      </form>
    </tr>
  </table>
</div>


