<div class='container'>
  <div class='main-content'>
    <h1> Add Comments here!</h1>
    <% if @question %>
      <%= erb :'/comments/_question_comment_form' %>
    <% else %>
      <%= erb :'/comments/_answer_comment_form' %>
    <% end %>
  </div>
</div>
