<div>
  <form action='/login' method='POST'>
    <tr>
      <td>Email:</td>
      <td><input type='text' name='email'></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type='password' name='password'></td>
    </tr>
    <tr>
      <input type='submit' value='Login!'>
    </tr>
  </form>
</div>