<form action="/users" method="post">
  <div class="container">
    <h3><center>Create User</center></h3>
<table>
    <tr>
    <td><label for="full_name">Full Name:</label></td>
    <td><input type="text" name="full_name"></label></td>
    </tr>
    <tr>
      <td><label for="email_address">Email:</label></td>
      <td><input type="text" name="email"></label></td>
    </tr>
    <tr>
      <td><label for="password">Password:</label></td>
      <td><input type="password" name="password"></label></td>
    </tr>
</table>
    <input class='button' type='Submit' value='submit'><br>
    <a href="/users/login">Already have an account? Log in here!</a>
</div>
</form>
