<div class="new_answer">
  <h3>Add an Answer</h3>
  <table>
    <tr>
      <td>Answer:</td>
      <td><input type='text' name='content'></label></td>
    </tr>
  </table>
  <input class='button' type='submit' value='Submit'><br>
</div>



