<div class="container">
  <div class="main-content">
    <h1>All Tags</h1>
    <table>
      <% @tags.questions.each do |question| %>
      <tr>
        <td><a href="/question/<%=question.id%>"><%=question.title%></a></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
