<div class="new_tag">
  <form action="/tags" method="post">
      <h3>Create New Tag</h3>
      <table>
        <tr>
          <td>Tag Name:</td>
          <td><input type="text" name="content"></label></td>
        </tr>
      </table>
      <input class='button' type='submit' value='Submit'><br>
    </div>
  </form>
</div>