<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <!-- Load Lato font -->
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>


  <title></title>
</head>
<body>
  <% if session[:user_id] %>
  <nav>
    <table>
      <tr>
        <td><a href="/questions">Questions</a></td>
        <td><a href="/tags">Tags</a></td>
        <td><a href="/users">Users</a></td>
        <td><a class='new-question' href="/questions/new">Ask Question</a></td>
        <td><form action='/logout' method='post'>
          <input type='hidden' name='_method' value='delete'>
          <input id='logout' type='submit' value='Logout'>
        </form></td>
      </tr>
    </table>
  </nav>
  <% else %>
  <nav>
    <table>
      <tr>
        <td><a href="/questions">Questions</a></td>
        <td><a href="/tags">Tags</a></td>
        <td><a href="/login">Login</a></td>
      </tr>
    </table>
  </nav>
  <% end %>
  <div class='Overflow'></div>
  <%= yield %>
</div>
</body>
</html>
